<section class="section">
    <div class="contaner">
      <div class="has-text-center">
        <h1 class="title has-text-centered">家計簿アプリ</br>Kakeibo</h1>
        <p class="is-size-3 has-text-centered"><%= Date.today %></p>
        <div class="has-text-centered mt-5">
            <p><%= link_to '一覧', lists_path, class: "button is-medium is-primary is-light"%></p>
        </div>
        <div class="has-text-centered mt-3">
            <p><%= link_to 'tips', root_path, class: "button is-medium is-warning is-light"%></p>
        </div>
      </div>
    </div>
</section>
